<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./layout.ejs")%>

    <h1><%=title%></h1>

    <ul>
      <%if(genre_list.length>0){ genre_list.forEach(function(genre){%>
      <li><a href="<%=genre.url%>"><%=genre.name%></a></li>
      <%})}else{%> there are no genre <% }%>
    </ul>
  </body>
</html>
